/* animate ngRepeat in contact listing */
.person.ng-move,
.person.ng-enter,
.person.ng-leave {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.person.ng-enter,
.person.ng-move {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.person.ng-move.ng-move-active,
.person.ng-enter.ng-enter-active {
  opacity: 1;
  height: 60px;
}

.person.ng-leave {
  opacity: 1;
  overflow: hidden;
}

.person.ng-leave.ng-leave-active {
  opacity: 0;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/* ng-Hide/ng-Show Animation */
.add-new {
  -webkit-transition: 0.5s linear all 0.2s;
  -moz-transition: 0.5s linear all 0.2s;
  -o-transition: 0.5s linear all 0.2s;
  transition: 0.5s linear all 0.2s;
}

.add-new.ng-hide {
  transition: 0.5s linear all 0.2s;
  -webkit-transition: 0.5s linear all 0.2s;
  -moz-transition: 0.5s linear all 0.2s;
  -o-transition: 0.5s linear all 0.2s;
  opacity: 0;
  transform: scale(0.9);
}


/* Using Animte.css library */
.ng-enter,
.ng-leave {
  opacity: 0;
}

.ng-enter.ng-enter-active {
  opacity: 1;
  -webkit-animation:bounce 1.2s both ease-in;
  -moz-animation:bounce 1.2s both ease-in;
  animation:bounce 1.2s both ease-in;
}

.ng-move.ng-leave-active {
  opacity: 1;
  -webkit-animation:bounce 1.2s both ease-out;
  -moz-animation:bounce 1.2s both ease-out;
  animation:bounce 1.2s both ease-out;
}
